html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ecf0f1;
}
#body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input,button{
    outline:none;
    border:none;
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
}
input{
    background: #bdc3c7;
    width: 400px;
}
button{
    background: #2980b9;
    color: white;
    transition: background 0.5s;
    width: 70px;
}
button:hover{
    background: #3498db;
}
#container{
    width:100%;
    height: 600px;
    background: #bdc3c7;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    margin-top: 30px;
}
#container div{
    width:30px;
    background: #3498db;
    height:0;
    transition: height 0.5s;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
}
